//Variaveis
//cores principais
$red: #9d050b;
$yellow: #f4d800;



//cinzas
$black: rgb(0,0,0); //#000000
$darkergrey: tint($black, 10%); //#191919
$darkgrey: tint($black, 25%); //#3f3f3f
$midgrey: tint($black, 50%); //#7f7f7f
$lightgrey: tint($black, 75%); //#bfbfbf
$lightergrey: tint($black, 90%); //#e5e5e5
$evenlightergrey: tint($black, 94.5%); //#f0f0f0
$white: rgb(255,255,255); //#ffffff
$activeWhite: rgb(228, 228, 228);


//variações das cores principais
$primaryColor: $red;
$primaryColorLight: rgb(177, 13, 20);

$secondaryColor: $yellow;


//Grid do Neat
//$visual-grid: true;
$visual-grid-color: #81bcac;
$visual-grid-index: front;
$column: 80px;
$gutter: 20px;
$grid-columns: 12;

$max-width: 1190px !global;


//Media queries
$mobile-size:720px; // entre 768 e 320
$tablet-size:960px; // entre 960 e 720
$desktop-size:1280px; // entre 1049 e 960
$largedesktop-size:1281px; // entre x e 1281

$largedesktop: new-breakpoint(min-width $largedesktop-size 12);
$desktop: new-breakpoint(max-width $desktop-size 12);
$tablet: new-breakpoint(max-width $tablet-size 8);
$mobile: new-breakpoint(max-width $mobile-size 4);