//reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, dd, dt, dl {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style:none; 
}

*, *:after, *:before{box-sizing: border-box; outline: none;}
input, textarea{outline: none;}
input[type=radio]{margin: 3px 3px 3px 0}
div:after, ol:after, form:after, ul:after, dl:after, section:after{content:"";display:block;clear:both;height:0;overflow:hidden;}
a, a:hover{cursor: pointer;text-decoration: none;}
label{display: inline-block;}