//common

body{	
	font-family: Arial, sans-serif;
	color: white;
}

.wrapper{
	@include outer-container;
   width: $max-width;
   margin: 0 auto;
}

header{
	width: 100%;
}

.fixar {
	position: fixed;
	top: 0;
	width: 100%;
}

.show {
	display: block;	
}

.hide {
	display: none;
}