//header
#header {   

    @include box-shadow(0px 2px 2px -2px rgba(0,0,0,0.7));

    overflow: hidden;
    background-color: $white;    
    @include transition(0.4s);
    z-index: 99; 

    .main_menu{

        background-color: $primaryColor;
        
        

        .menu_top {
            padding: 20px 0 0 0;

            .telefone {
                @include span-columns(3);
            }

            
    
            .navigation {
                @include span-columns(9);            
    
                ul,
                li {
                    display: inline-block;
                    margin: 0 80px 0 5px;
                }

                a {
                    @include text_header(14, 100);
                }
            }      
            
            @include media($mobile){
                display: none;
            }
    
        }
    
        .menu_mid{    
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 20px 0 0 0;
    
            .logo {
                @include span-columns(3);    
                text-align: center;
            }  
            
            .search {
                @include span-columns(6);
                float: left;
    
                .input_search {
                    width: 500px;
                    height: 50px;
                    font-size: 14px;
                    padding: 0 0 0 35px; 
                    border: none;    
                }
    
                .button_search{
                    @include button_buscar;
                    position: absolute;
                    width: 80px;
                    height: 50px;                
                }

                @include media($mobile){
                    display: none;
                }
            }
    
            .user {
                @include span-columns(3);
    
                .texto {
                    @include text_header(14, 100);
                    margin: 0 20px 0 20px;
                    display: inline-block;

                    @include media($mobile){
                        display: none;
                    }
                }
    
                img {
                    width: 20px;
                }
    
                .carrinho { 
                    display: inline-block;              
                    position: relative;               
                    
                    .quantidade {
                        
                        display: block;
                        position: absolute;
                        top: -20px;
                        right: -20px;
                        //border-radius: 50%;
                        @include border-radius(50%);
                        padding: 5px 10px;
                        background: $secondaryColor;
                        color: $primaryColor;
                        
                    }
                }
    
                
    
            }

        }
        
    }

    .menu_bottom {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0 10px 0;

        .dropdown {
            @include span-columns(3);
            
            .texto {
                @include titulo(16,600);
                padding: 0 0 0 30px;
                position: absolute;
            }
        }

        .dropdown_content {  
            //display: none;
            position: absolute;
            background-color: $white;
            min-width: 160px;
            overflow: auto;
            @include box-shadow(0px 2px 2px -2px rgba(0,0,0,0.7));
            z-index: 1;

            a {
                @include text_corpo(14, 600);
                padding: 10px 20px 10px 20px;
                display: block;
            }

            a:hover {
                background-color: $lightgrey
            }
        }

        

        .navigation {
            @include span-columns(9);        
    
            ul,
            li {
                display: inline-block;
                margin: 0 50px 0 0;
                a {
                    @include text_corpo(14, 600);
                } 
                
            }
        }

        
        


    }
    

}